/* add styles to the slots */

/* Check JS DOM Styles for animations */

body, html {
    margin: 0;
    background-image: url("images/casino.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gold
}
div {
    color: rgba(1, 160, 15, 0.973);
    font-size: 2rem;
}
.slot-wallet {
    background-color: gold;
}